/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: XENIUMRANGER_RESEGMENT {
        publishDir = [
            path: "${params.outdir}/xeniumranger/resegment",
            mode: params.publish_dir_mode
        ]
    }

    withName: XENIUMRANGER_IMPORT_SEGMENTATION {
        publishDir = [
            path: "${params.outdir}/xeniumranger/import_segementation",
            mode: params.publish_dir_mode
        ]
    }

    withName: FICTURE_PREPROCESS {
        publishDir = [
            path: "${params.outdir}/ficture/preprocess",
            mode: params.publish_dir_mode
        ]
    }

    withName: BAYSOR_RUN {
        publishDir = [
            path: { "${params.outdir}/baysor/run" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: BAYSOR_SEGFREE {
        publishDir = [
            path: { "${params.outdir}/baysor/segfree" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: BAYSOR_CREATE_DATASET {
        publishDir = [
            path: { "${params.outdir}/baysor/create_dataset" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: BAYSOR_PREVIEW {
        publishDir = [
            path: { "${params.outdir}/baysor/preview" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: SEGGER_CREATE_DATASET {
        publishDir = [
            path: { "${params.outdir}/segger/create_dataset" },
            mode: params.publish_dir_mode,
        ]
        tile_width = "120"
        tile_height = "120"
    }

    withName: SEGGER_TRAIN {
        publishDir = [
            path: { "${params.outdir}/segger/train" },
            mode: params.publish_dir_mode,
        ]
        batch_size = 4                             // larger batch size can speed up training, but requires more memory
        devices = 4                                // Use multiple GPUs by increasing the devices parameter to further accelerate training
        max_epochs = 200                           // increasing #epochs can improve model performance with more learning cycles, but extends training time
        ext.args = { "--init_emb 8 --hidden_channels 32 --num_tx_tokens 500 --out_channels 8 --heads 2 --num_mid_layers 2 --strategy auto --precision 16-mixed" }
    }

    withName: SEGGER_PREDICT {
        publishDir = [
            path: { "${params.outdir}/segger/predict" },
            mode: params.publish_dir_mode,
        ]
        batch_size = 1                            // larger batch size can speed up training, but requires more memory
        cc_analysis = "false"                     // to control connected component analysis
    }

    withName: PARQUET_TO_CSV {
        publishDir = [
            path: { "${params.outdir}/spatialconverter/parquet_to_csv" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: SPATIALDATA_WRITE {
        publishDir = [
            path: { "${params.outdir}/spatialdata/write" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: SPATIALDATA_MERGE {
        publishDir = [
            path: { "${params.outdir}/spatialdata/merge" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: SPATIALDATA_META {
        publishDir = [
            path: { "${params.outdir}/spatialdata/meta" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: CELLPOSE {
        publishDir = [
            path: { "${params.outdir}/cellpose" },
            mode: params.publish_dir_mode,
        ]
        ext.args = { "--diameter 9 --channel_axis 0 --save_flows" }
    }

    // with new version of cellpose you can do --output_name cell_masks
    withName: CELLPOSE_CELLS {
        publishDir = [
            path: { "${params.outdir}/cellpose_cells" },
            mode: params.publish_dir_mode,
        ]
        ext.args = { "--diameter 9 --channel_axis 0 --save_flows" }
    }

    // with new version of cellpose you can do --output_name nucleus_masks
    withName: CELLPOSE_NUCLEI {
        publishDir = [
            path: { "${params.outdir}/cellpose_nuclei" },
            mode: params.publish_dir_mode,
        ]
        ext.args = { "--diameter 9 --channel_axis 0 --save_flows" }
    }
    
    withName: "BIDCELL" {
        publishDir = [
            path: { "${params.outdir}/bidcell" },
            mode: params.publish_dir_mode,
        ]

        ext.version = "1.0.3"
        ext.bidcell_xenium_config ="""
        nuclei_fovs:
            stitch_nuclei_fovs: False # set True to stitch separate FOVs of DAPI together in 1 image

        nuclei:
            diameter: # estimated diameter of nuclei for Cellpose - or None to automatically compute, default: None

        transcripts:
            shift_to_origin: True # shift to origin, making min(x) and min(y) (0,0)
            x_col: x_location # name of x location column in transcripts file
            y_col: y_location # name of y location column in transcripts file
            gene_col: feature_name # name of genes column in transcripts file
            transcripts_to_filter: # genes starting with these strings will be filtered out
            - NegControlProbe_
            - antisense_
            - NegControlCodeword_
            - BLANK_
            - Blank-
            - NegPrb

        affine:
            target_pix_um: 1.0 # microns per pixel to perform segmentation; default: 1.0
            base_pix_x: 0.2125 # convert to microns along width by multiplying the original pixels by base_pix_x microns per pixel
            base_pix_y: 0.2125 # convert to microns along width by multiplying the original pixels by base_pix_y microns per pixel
            base_ts_x: 1.0 # convert between transcript locations and target pixels along width
            base_ts_y: 1.0 # convert between transcript locations and target pixels along height
            global_shift_x: 0 # additional adjustment to align transcripts to DAPI in target pixels along image width; default: 0
            global_shift_y: 0 # additional adjustment to align transcripts to DAPI in target pixels along image height; default: 0

        model_params:
            name: custom # segmentation model to use: custom for model in model.py or set to a encoder name from segmentation_models_pytorch; default: custom
            patch_size: 48 # size of transcriptomic image patches for input to DL model
            elongated: # list of elongated cell types that are in the single-cell reference
            - placeholder

        training_params:
            total_epochs: 1 # number of training epochs; default: 1
            total_steps: 60 # number of training steps; default: 4000
            ne_weight: 1.0 # weight for nuclei encapsulation loss; default: 1.0
            os_weight: 1.0 # weight for oversegmentation loss; default: 1.0
            cc_weight: 1.0 # weight for cell-calling loss; default: 1.0
            ov_weight: 1.0 # weight for oversegmentation loss; default: 1.0
            pos_weight: 1.0 # weight for positive marker loss; default: 1.0
            neg_weight: 1.0 # weight for negative marker loss; default: 1.0

        testing_params:
            test_epoch: 1 # epoch to test; default: 1
            test_step: 60 # step number to test; default: 4000

        experiment_dirs:
            dir_id: last # specify timestamp of output dir or leave blank to use latest dir, default: last
        """
    }
}
